<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>postArticlesList</servlet-name>
    <servlet-class>Controllers.postArticlesList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>postCommentsList</servlet-name>
    <servlet-class>Controllers.postCommentsList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>postUserAvatar</servlet-name>
    <servlet-class>Controllers.postUserAvatar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>postIsNotExistNormUsername</servlet-name>
    <servlet-class>Controllers.postIsNotExistNormUsername</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>postIsNotExistModUsername</servlet-name>
    <servlet-class>Controllers.postIsNotExistModUsername</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getArticle</servlet-name>
    <servlet-class>Controllers.getArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getComment</servlet-name>
    <servlet-class>Controllers.getComment</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getLogInRequest</servlet-name>
    <servlet-class>Controllers.getLogInRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getSignUpInfo</servlet-name>
    <servlet-class>Controllers.getSignUpInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getModCreateAccInfo</servlet-name>
    <servlet-class>Controllers.getModCreateAccInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getUserAvatar</servlet-name>
    <servlet-class>Controllers.getUserAvatar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getModToDelete</servlet-name>
    <servlet-class>Controllers.getModToDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>postModsList</servlet-name>
    <servlet-class>Controllers.postModsList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>postArticleVoteState</servlet-name>
    <servlet-class>Controllers.postArticleVoteState</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getArticleVoteState</servlet-name>
    <servlet-class>Controllers.getArticleVoteState</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>postArticlesList</servlet-name>
    <url-pattern>/postArticlesList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>postCommentsList</servlet-name>
    <url-pattern>/postCommentsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>postUserAvatar</servlet-name>
    <url-pattern>/postUserAvatar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>postIsNotExistNormUsername</servlet-name>
    <url-pattern>/postIsNotExistNormUsername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>postIsNotExistModUsername</servlet-name>
    <url-pattern>/postIsNotExistModUsername</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getArticle</servlet-name>
    <url-pattern>/getArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getComment</servlet-name>
    <url-pattern>/getComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getLogInRequest</servlet-name>
    <url-pattern>/getLogInRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getSignUpInfo</servlet-name>
    <url-pattern>/getSignUpInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getModCreateAccInfo</servlet-name>
    <url-pattern>/getModCreateAccInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getUserAvatar</servlet-name>
    <url-pattern>/getUserAvatar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getModToDelete</servlet-name>
    <url-pattern>/getModToDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>postModsList</servlet-name>
    <url-pattern>/postModsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>postArticleVoteState</servlet-name>
    <url-pattern>/postArticleVoteState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getArticleVoteState</servlet-name>
    <url-pattern>/getArticleVoteState</url-pattern>
  </servlet-mapping>
</web-app>
